.option {
  min-width: 30px;
  height: 70px;
  background-color: white;
  border: 2px solid gray;
  float: left;
  margin: 10px;
}
.optionImage {
  width: 30px;
  height: 30px;
  margin: 10px 10px 5px;
}
.optionText {
  color: black;
}
.menu {
  position: absolute;
  right: 5px;
  top: 5px;
}
